:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
margin-top: 30px;
    line-height: 1.5;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

.content h1 {
font-size: 76px;
line-height: 15px;
margin-top: 70px;
}

h2 {
  font-size: 64px;
}

h4 {
    font-size: 26px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.container {
    margin: 10px 10px;
}

.content-container {
  padding: 0 20px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  @media (min-width: 1400px) {
    .container {
        max-width: 1320px}
    }
  }

  @media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
    }
  }

  @media (max-width: 900px) {
    .about-section {
        text-align: center;
    }
  }

  .text-center {
font-size: 60px;
font-family: var(--heading-font-family);
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }

.about.section {
    padding: 160px 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.about-section-content {
    margin: 30px;
}

.about-section h1 {
font-size: 64px;
line-height: 80px;
line-height: 1.2;
}

.about-section h2 {
font-size: 18px;
font-family: var(--default-font-family);
font-weight: bolder;
line-height: 1.2;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
    margin-top: 30px;
}

.mb-5 {
    margin-bottom: 3rem!important;
    margin-top: 50px;
}

.mt-5 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 50px;
}

footer {
  margin: 60px 0;
  display: block;
  padding-top: 50px!important;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.bi {
    font-weight: 400;
}

.justify-content-between {
  justify-content: space-between!important;
}
.d-flex {
  display: flex! important;
}

a {
    color: blue;
    text-decoration: underline;
}